{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "printWidth": 80,
  "tailwindStylesheet": "./src/ui/app.css",
  "tailwindFunctions": ["cn", "cva"]
}
